# git ignore filter
/camel3D/.vs
/camel3D/Debug
/camel3D/x64
/animal3D-SDK/animal3D-SDK/bin/x64/v142/Debug/animal3D-DemoPlayerApp.exe
/animal3D-SDK/animal3D-SDK/bin/x64/v142/Debug/animal3D-DemoPlayerApp.ilk
/animal3D-SDK/animal3D-SDK/bin/x64/v142/Debug/animal3D-DemoPlayerApp.pdb
/animal3D-SDK/animal3D-SDK/project/VisualStudio/_SLN/animal3d-sdk/.vs/animal3d-sdk/v16/Solution.VC.db-shm
/animal3D-SDK/animal3D-SDK/project/VisualStudio/_SLN/animal3d-sdk/.vs/animal3d-sdk/v16/Solution.VC.db-wal
/animal3D-SDK/animal3D-SDK/project/VisualStudio/_SLN/animal3d-sdk/.vs/animal3d-sdk/v16/.suo
/animal3D-SDK/animal3D-SDK/project/VisualStudio/_SLN/animal3d-sdk/.vs/animal3d-sdk/v16/Browse.VC.db
/animal3D-SDK/animal3D-SDK/project/VisualStudio/_SLN/animal3d-sdk/.vs/animal3d-sdk/v16/Browse.VC.opendb
/animal3D-SDK/animal3D-SDK/project/VisualStudio/_SLN/animal3d-sdk/.vs/animal3d-sdk/v16/Solution.VC.db
/animal3D-SDK/animal3D-SDK/project/VisualStudio/_SLN/animal3d-sdk/.vs/animal3d-sdk/v16/ipch/AutoPCH/2b9ac24ad51ca683/A3_DEMOSTATE_IDLE-INPUT.ipch
/animal3D-SDK/animal3D-SDK/project/VisualStudio/_SLN/animal3d-sdk/.vs/animal3d-sdk/v16/ipch/AutoPCH/9c1d387341b0f18f/A3_DEMOSTATE_IDLE-RENDER.ipch
/animal3D-SDK/animal3D-SDK/project/VisualStudio/_SLN/animal3d-sdk/.vs/animal3d-sdk/v16/ipch/AutoPCH/c797c04392bedd8c/A3_DEMOSTATE_IDLE-UPDATE.ipch
/animal3D-SDK/animal3D-SDK/project/VisualStudio/_SLN/animal3d-sdk/.vs/animal3d-sdk/v16/ipch/AutoPCH/d3fc46b6e49a8bec/A3_DEMO_CALLBACKS.ipch
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_BufferObject-OpenGL.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_BufferObject.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_Framebuffer-OpenGL.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_Framebuffer.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_GraphicsObjectHandle.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_Material-OpenGL.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_Material.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_ShaderProgram-OpenGL.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_ShaderProgram.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_TextRenderer-OpenGL.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_TextRenderer.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_Texture-OpenGL.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_Texture.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_TextureAtlas.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_UniformBuffer-OpenGL.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_VertexBuffer-OpenGL.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_VertexBuffer.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_VertexDescriptors.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_VertexDrawable-OpenGL.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_VertexDrawable.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/a3_app_renderer-OpenGL.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/animal3D-A3DG-OpenGL.Build.CppClean.log
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/animal3D-A3DG-OpenGL.idb
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/animal3D-A3DG-OpenGL.log
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/animal3D-A3DG-OpenGL.pdb
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/animal3D-A3DG-OpenGL.vcxproj.FileListAbsolute.txt
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/animal3D-A3DG.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/animal3D.7484EB6D.tlog/CL.command.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/animal3D.7484EB6D.tlog/CL.read.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/animal3D.7484EB6D.tlog/CL.write.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/animal3D.7484EB6D.tlog/Lib-link.read.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/animal3D.7484EB6D.tlog/Lib-link.write.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/animal3D.7484EB6D.tlog/Lib.command.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-A3DG-OpenGL/build/x64/v142/Debug/animal3D.7484EB6D.tlog/animal3D-A3DG-OpenGL.lastbuildstate
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/animal3D-DemoPlayerApp.vcxproj.user
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/animal3D-DemoPlayerApp.Build.CppClean.log
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/animal3D-DemoPlayerApp.log
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/animal3D-DemoPlayerApp.res
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/animal3D-DemoPlayerApp.vcxproj.FileListAbsolute.txt
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/animal3D.FC188ACC.tlog/CL.command.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/animal3D.FC188ACC.tlog/CL.read.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/animal3D.FC188ACC.tlog/CL.write.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/animal3D.FC188ACC.tlog/animal3D-DemoPlayerApp.lastbuildstate
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/animal3D.FC188ACC.tlog/link.command.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/animal3D.FC188ACC.tlog/link.read.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/animal3D.FC188ACC.tlog/link.write.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/animal3D.FC188ACC.tlog/rc.command.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/animal3D.FC188ACC.tlog/rc.read.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/animal3D.FC188ACC.tlog/rc.write.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/main_win.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlayerApp/build/x64/v142/Debug/vc142.pdb
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/animal3D-DemoPlugin.vcxproj.user
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/a3_DemoRenderUtils.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/a3_DemoSceneObject.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/a3_DemoState_idle-input.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/a3_DemoState_idle-render.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/a3_DemoState_idle-update.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/a3_DemoState_initialize.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/a3_DemoState_loading.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/a3_DemoState_unloading.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/a3_Networking_gs_battleship.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/a3_Networking_gs_checkers.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/a3_Networking_gs_mancala.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/a3_Networking_gs_tictactoe.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/a3_demo_callbacks.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/animal3D-DemoPlugin.Build.CppClean.log
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/animal3D-DemoPlugin.log
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/animal3D-DemoPlugin.vcxproj.FileListAbsolute.txt
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/animal3D.3510FDB9.tlog/CL.command.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/animal3D.3510FDB9.tlog/CL.read.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/animal3D.3510FDB9.tlog/CL.write.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/animal3D.3510FDB9.tlog/animal3D-DemoPlugin.lastbuildstate
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/animal3D.3510FDB9.tlog/animal3D-DemoPlugin.write.1u.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/animal3D.3510FDB9.tlog/link.command.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/animal3D.3510FDB9.tlog/link.read.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/animal3D.3510FDB9.tlog/link.write.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/c3Demo.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/main_dll.obj
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/vc142.pdb
/animal3D-SDK/animal3D-SDK/lib/x64/v142/Debug/animal3D-A3DG-OpenGL.lib
/animal3D-SDK/animal3D-SDK/lib/x64/v142/Debug/animal3D-A3DG-OpenGL.pdb
/animal3D-SDK/animal3D-SDK/lib/x64/v142/Debug/animal3D-DemoPlugin.dll
/animal3D-SDK/animal3D-SDK/lib/x64/v142/Debug/animal3D-DemoPlugin.exp
/animal3D-SDK/animal3D-SDK/lib/x64/v142/Debug/animal3D-DemoPlugin.ilk
/animal3D-SDK/animal3D-SDK/lib/x64/v142/Debug/animal3D-DemoPlugin.lib
/animal3D-SDK/animal3D-SDK/lib/x64/v142/Debug/animal3D-DemoPlugin.pdb
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/animal3D.3510FDB9.tlog/link.delete.1.tlog
/animal3D-SDK/animal3D-SDK/project/VisualStudio/animal3D-DemoPlugin/build/x64/v142/Debug/c3DemoState.obj
